SECRET_KEY=YOUR_SECRET_KEY
ALLOWED_HOSTS=127.0.0.1,localhost

DEBUG=False
LOGLEVEL=info

DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=booking_service
DATABASE_USERNAME=root
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432
